@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('~/fonts/roboto-v20-latin-regular.woff2') format('woff2'),
       url('~/fonts/roboto-v20-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('~/fonts/roboto-v20-latin-700.woff2') format('woff2'),
       url('~/fonts/roboto-v20-latin-700.woff') format('woff');
}

body {
  margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font: normal normal 16px Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(238,238,238);
  background: radial-gradient(circle, rgba(238,238,238,1) 65%, rgba(200,212,215,1) 88%, rgba(190,212,251,1) 100%);
}

code {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
} 

:root {
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: auto;
}

main {
  font-size: 14px !important;
  font-family: Roboto !important;
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-family: Roboto !important;
  font-weight: bold !important;
  text-align: center;
}
