.files-title_text {
    font-family: Roboto;
    font-weight: bold !important;
    text-align: center;
    background: #2dced2;
    background: -webkit-linear-gradient(to right, #2dced2, #6d09f7);
    background: linear-gradient(to right, #2dced2, #6d09f7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.files_wrapper {
    margin: 20px 0 20px 0;
    padding: 20px 0 20px 0;
}