.footer_wrapper{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,5,46,1) 25%, rgba(0,212,255,1) 100%);
    height: auto;
}

footer{
    height: 100%;
}

.footer_text{
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
}